.footer {
  background-color: $color-grey-dark-3;
  padding: 8rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(bp-small) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 0.1rem solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(bp-small) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @include respond(bp-medium) {
        margin-right: 0.6rem;
      }

      @include respond(bp-small) {
        margin-right: 5rem;
      }

      @include respond(bp-smaller) {
        margin-right: 2rem;
      }
    }
  }

  &__link {

    &,
    &:link,
    &:visited {
      cursor: pointer;
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      transform: scale(1.05);
    }
  }

  &__copyright {
    border-top: 0.1rem solid $color-grey-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;


    @include respond(bp-small) {
      width: 100%;
      float: none;
    }
  }
}