.side-nav {
  list-style: none;

  & li {
    margin: 1rem 0;
    border-left: 0 solid $color-white;
    // -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  &--active,
  & li:hover {
    border-left: 4px solid $color-white !important;
  }

  &--active a {
    // -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  & a {
    &:link,
    &:visited {
      padding: 1rem 4rem;
      // display: -webkit-box;
      // display: -ms-flexbox;
      display: flex;
      // -webkit-box-align: center;
      // -ms-flex-align: center;
      align-items: center;
      color: $color-white;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 400;
      text-decoration: none;
      // -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      // -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
  }

  & svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: $color-grey-light-1;
    margin-right: 2rem;
  }
}

.admin-nav {
  margin-top: 5.5rem;

  &__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
    border-bottom: 1px solid currentColor;
  }
}
