.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  // -webkit-box-shadow: $box-shadow--4;
  box-shadow: $box-shadow--4;

  &__img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    // -webkit-box-shadow: $box-shadow--5;
    box-shadow: $box-shadow--5;

    &--logo {
      padding: 2rem;
      // display: -webkit-box;
      // display: -ms-flexbox;
      display: flex;
      // -webkit-box-align: center;
      // -ms-flex-align: center;
      align-items: center;
      // -webkit-box-pack: center;
      // -ms-flex-pack: center;
      justify-content: center;
      // background: -webkit-gradient(
      //   linear,
      //   left top,
      //   right bottom,
      //   from(#7dd56f),
      //   to(#28b487)
      // );
      background: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      z-index: 10;
      // -webkit-transform: translate(-35%, -50%);
      transform: translate(-35%, -50%);

      & img {
        width: 100%;
      }
    }

    &--1 {
      // -webkit-transform: translate(-10%, -50%) scale(0.97);
      transform: translate(-10%, -50%) scale(0.97);
      z-index: 9;
    }

    &--2 {
      // -webkit-transform: translate(15%, -50%) scale(0.94);
      transform: translate(15%, -50%) scale(0.94);
      z-index: 8;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    grid-gap: 0.7rem;
    grid-auto-flow: column;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    align-items: center;
  }

  &__text {
    font-size: 1.9rem;
    font-weight: 400;
  }
}
