.overview-box {
  background-color: $color-grey-light-1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(bp-small) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include respond(bp-smaller) {
    flex-direction: column;
    align-items: center;
  }

  &__group:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__detail {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 400;

    & svg {
      margin-right: 1.25rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: $color-primary;
  }

  &__label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__text {
    text-transform: capitalize;
    font-weight: 300;
  }

  &__img {
    border-radius: 50%;
    height: 3.5rem;
    margin-right: 1.25rem;
  }
}
