.picture-box {
  &__img {
    display: block;
    width: 100%;
    height: 110%;
    object-fit: cover;

    &--1 {
      padding-top: 15%;
    }

    &--2 {
      padding-bottom: 15%;
    }

    &--3 {
      padding-bottom: 27%;
    }

    &--1, &--2, &--3 {
      @include respond(bp-small) {
        padding: 2rem 5rem;
      }

      @include respond(bp-smallest) {
        padding: 2rem 3rem; 
      }
    }
  }
}
