.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(1rem);
  background-color: rgba($color-black, 0.6);

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 0.3rem;
    display: table;
    overflow: hidden;
    transition: all 0.5s 0.2s;

    @include respond(bp-smallest) {
      width: 90%;
    }
  }

  &__left {
    width: 33.33333333333%;
    display: table-cell;
    vertical-align: middle;

    @include respond(bp-medium) {
      visibility: none;
      display: none;
      opacity: 0;
      width: 0;
    }
  }

  &__right {
    width: 66.666666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(bp-medium) {
      width: 100%;
      display: inline-block;
      vertical-align: none;

      &--button {
        text-align: center;
      }
    }

    @include respond(bp-small) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include respond(bp-smaller) {
      padding: 3rem;
    }

    @include respond(bp-smallest) {
      padding: 2rem 3rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__text {
    text-align: left !important;
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 0.1rem solid $color-grey-light-2;

    hyphens: auto;

    @include respond(bp-smaller) {
      column-gap: 2rem;
    }
  }

  &__close {
    &,
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
      cursor: pointer;

      @include respond(bp-smaller) {
        top: 2rem;
        right: 4.5rem;
      }
    }

    &:hover {
      color: $color-primary;
    }
  }

  &--transition {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
      transition: all 300ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: all 300ms;
    }
  }
}
