.section-header-home {
  height: 90vh;
  position: relative;

  clip-path: $clip-path--poly-1;
  height: 95vh;

  @include respond(bp-smaller) {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0% 100%);
  }
}

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0 30rem 0;
  margin-top: -20vh;

  & > :first-child {
    text-align: center;
    margin-bottom: 6rem;
  }

  & .col-1-of-2:first-child {
    @include respond(bp-small) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10rem;
      text-align: center;
    }
  }
}

.section-features {
  margin-top: -15rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      135deg,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../images/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(bp-small) {
    padding: 15rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 24rem 6rem 14rem 6rem;
  margin-top: -10rem;

  & > :first-child,
  :last-child {
    text-align: center;
  }

  @include respond(bp-small) {
    padding: 22rem 3rem 14rem 3rem;
  }
}

.section-stories {
  padding: 14rem 0;
  position: relative;

  @include respond(bp-small) {
    padding: 12rem 0;
  }
}

// .section-book {
//   padding: 15rem 0;
//   background-image: linear-gradient(
//     135deg,
//     $color-primary-light,
//     $color-primary-dark
//   );

//   @include respond(tab-port) {
//     padding: 12rem 0;
//   }
// }

// .book {
//   background-image: linear-gradient(
//       105deg,
//       rgba($color-white, 0.9) 0%,
//       rgba($color-white, 0.9) 50%,
//       transparent 50%
//     ),
//     url("../images/nat-10.jpg");

//   background-size: cover;
//   border-radius: 3px;
//   box-shadow: $card-shadows;

//   @include respond(tab-land) {
//     background-image: linear-gradient(
//         105deg,
//         rgba($color-white, 0.9) 0%,
//         rgba($color-white, 0.9) 55%,
//         transparent 55%
//       ),
//       url("../images/nat-10.jpg");
//   }

//   @include respond(tab-port) {
//     background-image: linear-gradient(
//         to right,
//         rgba($color-white, 0.9),
//         rgba($color-white, 0.9)
//       ),
//       url("../images/nat-10.jpg");
//   }

//   &__form {
//     width: 50%;
//     padding: 6rem;

//     @include respond(tab-land) {
//       width: 55%;
//     }

//     @include respond(tab-port) {
//       width: 100%;
//     }
//   }
// }
