.section-header-tour {
  position: relative;
  height: 38vw;
  clip-path: $clip-path--poly-1;
}

.section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - $section-rotate);
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;

  & > * {
    padding: 0 8vw;
    padding-top: 14vw;
    padding-bottom: calc(1vw + $section-rotate);
    // -webkit-box-flex: 0;
    // -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

.section-pictures {
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  clip-path: $clip-path--poly-2;
  // -webkit-clip-path: $clip-path--poly-2;
  margin-top: calc(0px - $section-rotate);
  position: relative;
  z-index: 1000;
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - $section-rotate);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.section-reviews {
  margin-top: calc(0px - $section-rotate);
  padding: calc(5rem + $section-rotate) 0;
  position: relative;
  z-index: 1000;
  // background: -webkit-gradient(
  //   linear,
  //   left top,
  //   right bottom,
  //   from(#7dd56f),
  //   to(#28b487)
  // );
  background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  clip-path: $clip-path--poly-2;
  // -webkit-clip-path: $clip-path--poly-2;
}

.section-cta {
  margin-top: calc(0px - $section-rotate);
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(15rem + $section-rotate);
  // TODO:
  background-color: $color-grey-light-1;
}
