.section-header-tour {
  position: relative;
  height: 75.5vh;
  clip-path: $clip-path--poly-1;
}

.section-description {
  background-color: $color-grey-light-1-dark;
  margin-top: calc(0px - var(--section-rotate));
  display: flex;

  @include respond(bp-small) {
    flex-direction: column;
  }

  & > * {
    padding: 0 8vw;
    padding-top: 14vw;
    padding-bottom: calc(1vw + var(--section-rotate));
    flex: 0 0 50%;
  }

  & > :first-child {
    @include respond(bp-small) {
      padding-top: 17vw;
      padding-bottom: 4vh;
    }

    @include respond(bp-smaller) {
      padding-top: 20vw;
      padding-bottom: 12vh;
    }
  }

  & > :last-child {
    @include respond(bp-small) {
      padding-top: 12vh;
      padding-bottom: 17vh;
    }

    @include respond(bp-smaller) {
      padding-top: 12vh;
      padding-bottom: 14vh;
    }
  }
}

.section-pictures {
  display: flex;
  clip-path: $clip-path--poly-2;
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  clip-path: $clip-path--poly-2;
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(15rem + var(--section-rotate));
  // TODO:
  background-color: $color-grey-light-1;
}
