.user-view {
  background-color: $color-white;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: $box-shadow--1;

  display: flex;

  @include respond(bp-small) {
      flex-direction: column;
  }

  &__menu {
    flex: 32rem 0 0;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
    padding: 4rem 0;

    @include respond(bp-medium) {
      flex: 26rem 0 0;
    }
  }

  &__content {
    flex: 1;
    padding: 7rem 0;
  }

  &__form-container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem;

    @include respond(bp-medium) {
      padding: 0 4rem;
    }
  }
}
