.u-center-text {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.ma-bt-sm {
  margin-bottom: 1.5rem !important;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-bt-xlg {
  margin-bottom: 4.5rem !important;
}

.right {
  text-align: right !important;
}

.fc-danger {
  color: $color-secondary-darker;
}

.link-style {
  color: $color-white;
  text-decoration: none;
}

.abs-center {
  @extend %abs-center;
}